ischedulePlus/obj/Debug/ischedulePlus.csproj.FileListAbsolute.txt
/ischedulePlus/obj/Debug
/ischedulePlus/bin/Debug/ischedulePlus.dll
/ischedulePlus/bin/Debug/ischedulePlus.pdb
/ischedulePlus/ischedulePlus.csproj.user
/ischedulePlus/ischedulePlus.v12.suo
